body {
  background-color: gray;
}

@font-face {
  font-family: "Russo One";
  src: url("https://fonts.googleapis.com/css?family=Russo+One")
}

header {
  border: 5px yellow solid;
  background-color: black;
  opacity: 0.8;
  font-size: 50px;
  display:inline-block;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
  color: yellow;
  font-family: "Russo One";
}

header h1, h2{
  margin:0 auto;
}

header h2 {
  font-size: 19px;
  font-family: "Russo One";
}


#red {
  display: flex-start;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 100% 0 0;
  background-color: red;
  line-height: 200px;
}

#blue {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 0 100% 0 0;
  background-color: blue;
  line-height: 200px;
}

#yellow {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 0 0 0 100%;
  line-height: 200px;
  background-color: yellow;
}

#green {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 0 0 100% 0;
  background-color: green;
  line-height: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  font-family: "Russo One";
  text-align: center;
  width: 100%;
  color: yellow;
  background-color: black;
  font-size: 30px;
  opacity: 0.8;
  border: 5px yellow solid;
}

a {
  color:yellow;
  text-decoration:none;
}

a:hover{
  color:blue;
}

.board {
  display: flex;
  justify-content: center;
  /*border: 2px solid black;*/
  width: 75%;
  /*margin-left: 25%;*/
}

#leftInstructions {
  border: 5px yellow solid;
  height: 350px;
  width: 50%;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: black;
  opacity: 0.8;
  border-radius: 5%;
}

#rightScore {
  border: 5px yellow solid;
  height: 350px;
  width: 50%;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 765px;
  background-color: black;
  opacity: 0.8;
  border-radius: 5%;
}

#score {
  text-align: center;
  font-size: 175px;
}


div p {
  font-size: 40px;
  font-family: "Russo One";
  color: yellow;
  text-align: center;
  font-weight: bold;
}

.clearfix{
  display: inline-flex;
}

.clearfix:after {
  visibility: hidden;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

main {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

#button {
  display: inline;
  top: 50%;
  font-size: 25px;
  font-family: "Russo One";
  height: 50px;
  width: 600px;
  border:black solid;
  background-color:black;
  text-align:center;
  font-weight: bold;
  color: yellow;
}

.circle {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button:hover {
  opacity: 0.8;
}

#instructions {
  padding-left: 300px;
  font-size:20px;
  color: yellow;
}

#instructions p {
  font-size:10px;
  color:yellow;
}

.rules {
  padding-left: 20px;
  font-size: 19px;
  text-align: left;
  color:yellow;
  font-family: "Russo One";
}

.action:hover {
  opacity: 0.8;
}
