body {
  background-color: gray;
}

header {
  display:inline-block;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
  border: 2px solid black;
  color: yellow;
  background-color: black;
  font-family: Impact;
  font-size: 30px;
}

header h1 {
  margin:0 auto;
}

#red {
  display: flex-start;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  text-align:center;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color:white;
  justify-content:center;
}

#blue {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: blue;
  text-align:center;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color:white;
  justify-content:center;
}

#yellow {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  text-align:center;
  line-height: 200px;
  border-radius: 50%;
  background-color: yellow;
  font-size: 40px;
  font-weight: bold;
  color:black;
}

#green {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: green;
  text-align:center;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color:white;
}

footer {
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100%;
  border: 2px solid black;
  color: yellow;
  background-color: black;
  font-size: 24px;
  text-decoration:none;
}

.board {
  display: flex;
  justify-content: center;
  /*border: 2px solid black;*/
  width: 75%;
  /*margin-left: 25%;*/
}

#leftInstructions {
  /*float:left;*/
  justify-content: flex-start;
/*USE display:inline table to get your columns, but ask why other method doesnt work, roughly colcount: 3;*/
  display:inline-table;
  height: 580px;
  width: 25%;
  /*border: 2px solid black;*/
  margin-bottom: 20px;
}

div p {
  font-size: 50px;
  color: black;
  text-align: center;
  font-weight: bold;
}
/*#rightScore {
  display:inline-table;
  /*float:right;
  justify-content: flex-end;
  height: 160px;
  width: 24%;
  border: 2px solid black;
}*/

.clearfix{
  display: inline-flex;
}

.clearfix:after {
     visibility: hidden;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

main {
  padding: 1em;
-moz-column-count: 3;
-moz-column-gap: 1em;
-webkit-column-count: 3;
-webkit-column-gap: 1em;
column-count: 3;
column-gap: 1em;
}

#button {
    font-size: 20px;
    height: 25px;
    width: 60px;
    border:black solid;
    border-radius: 15%;
    background-color:black;
    margin: auto;
    text-align:center;
    font-weight: bold;
    padding: 35px;
    color: yellow;
}

#instructions {
  font-size:20px;
}

.light {
  background-color: #FF4C4C;
}
